/* center canvas element and add background */

body {
    text-align: center;
    background: url(/images/paintbg.jpg) center center fixed;
    background-size: cover;
    
}

/* title */

#header {
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #bc2e1e;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    line-height: 80px;
  
}

#header:hover{
    height: 80px;
    width: 500px;
    margin: 10px auto;
    font-size: 5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #bc2e1e;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

/* inputs container */
.inputContainer {
    width: 200px;
    margin: 0 auto;
}

.inputContainer3 {
    display: flex;
    width: 400px;
    margin: 20px auto 20px auto;
    justify-content: space-evenly;
  
   
}

/* color input, line thickness, slider */
.input {
    height: 30px;
    font-size: 1.3em;
}

#slider {
    margin: 10px auto;
}


#linewidth {
    height: 3px;
    width: 3px;
    border-radius: 50%; /*this draws the linewidth */
    background: black;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#thicknessInput {
    position: relative;
    /*we made this relative since this is the parent of #linewidth that we want to adjsut the top and left values*/
}


/*erase, save & restart buttons*/

.inputContainer2 {
    width: 400px;
    margin: 40px auto 20px auto;
    display: flex;
    justify-content: space-evenly;

}

.input2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:seagreen;
    font-size: 1.3em;
}

.button:hover {
    height: 50px;
    color: rgba(91, 180, 231, 0.5);
    text-decoration: underline;
    cursor: pointer;
}

.button:active {
    position: relative;
    bottom: 8px;
    color:palegoldenrod;
}

.eraseMode {
    position: relative;
    bottom: 8px;
    color:palegoldenrod;
}

/* slider*/

.ui-slider-handle:hover {
    cursor: grab;
}

.ui-slider-handle:active {
    cursor: grabbing;
}



/* canvas container*/
#container {
    width: 800px;
    height: 500px;
    border: 5px solid rgba(112, 174, 229, 0.5);
    margin: 10px auto;
}


#paint {
    background-color: #fff;
    cursor: crosshair;
}
